{
    '<insert the exactly quoted wording of entity 1 here>': <insert correct classification for entity_1 here>,
    '<insert the exactly quoted wording of entity 2 here>': <insert correct classification for entity_2 here>,
    ...,
    '<insert the exactly quoted wording of entity_last here>': <insert correct classification for entity_last here>,
}


Each and every entity must be individually classified using the exact options provided. 
It is imperative you do not drop any entities from the list, and that you classify each entity using exclusively the options above with no exceptions.
It is also essential that you output the entity names exactly as they appear in the list, with no modifications or omissions. 
Again, the ONLY valid classification options are clearly detailed previously; you may not deviate in any capacity from those options. 